.button {
	width: 100%;
	font-size: 2rem;
	background-color: gold;
	border-color: white;
	padding: 6px;
	cursor: pointer;
	padding: 22px;
	border-radius: 0;
}

@media only screen and (max-device-width: 500px) {
	.button {
		font-size: 1rem;
		padding: 12 px;
	}
}
