.game_over_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 35%;
	left: 42%;
	box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	padding: 12px;
	margin: 0 auto;
	width: 20vw;
}
.game_over_text {
	font-size: 1.5rem;
}

.game_over_btn {
	font-size: 1rem;
	margin-top: 2vh;
	border-radius: 6px;
	background-color: gold;
	border-color: white;
	padding: 6px;
	cursor: pointer;
}
