.App {
	text-align: center;
}

.button_container {
	display: flex;
	height: 150px;
	width: fit-content;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.user_input_containers {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
